@model IEnumerable<EntranceViewModel>

@{ ViewBag.Title = "Список входов"; }

<h4>Список входов в здания</h4>

@if (Model?.Any() != true)
{
    <p>Список входов пуст</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col" style="width: 170px">Здание</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entrance in Model)
        {
            <tr>
                <td>
                    <a href="@(Url.Action<EntranceController>(c => c.View(entrance.Id)))">@entrance.Name</a>
                </td>
                <td style="text-align: center">
                    @entrance.Building.Address
                </td>
            </tr>
        }
        </tbody>
    </table>
}