@model EntranceViewModel

@{ ViewBag.Title = "Вход в здание"; }

<h4>Вход в здание</h4>

<form>

    <view-group
        name="Name"
        label="Название"
        value="@Model.Name"/>

    <view-group
        name="BuildingAddress"
        label="Здание"
        value="@Model.Building.Address"/>

</form>


<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model.Id">

    <a class="btn btn-primary lower-button" href="@(Url.Action<EntranceController>(c => c.Edit(Model.Id)))">Редактировать</a>

    <input type="submit" class="btn btn-primary lower-button" value="Удалить">
</form>