@model SignUpForm

@{ ViewBag.Title = "Регистрация"; }

<h4>Регистрация</h4>

<form method="post">

    <root-errors/>

    <input-group
        name="Login"
        label="Логин"
        value="@Model.Login"/>

    <input-group
        name="Password"
        label="Пароль"
        value="@Model.Password"
        is-password="true"/>

    <input-group
        name="ConfirmPassword"
        label="Подтверждение пароля"
        invalid-feedback="Некорректное подтверждение пароля"
        value="@Model.ConfirmPassword"
        is-password="true"/>

    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
</form>