@model IEnumerable<DepartmentViewModel>

@{ ViewBag.Title = "Список отделов"; }

<h4>Список отделов</h4>

@if (Model?.Any() != true)
{
    <p>Список отделов пуст</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col" style="width: 200px">Кол-во сотрудников</th>
        </tr>
        </thead>
        <tbody>
        @foreach (DepartmentViewModel department in Model)
        {
            <tr>
                <td>
                    <a href="@(Url.Action<DepartmentController>(c => c.View(department.Id)))">@department.Name</a>
                </td>
                <td>
                    @department.Employees.Count()
                </td>
            </tr>
        }
        </tbody>
    </table>
}