@model IEnumerable<EmployeeViewModel>

@{ ViewBag.Title = "Список сотрудников"; }

<h4>Список сотрудников</h4>

@if (Model?.Any() != true)
{
    <p>Список сотрудников пуст</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" style="width: 80px">Id</th>
            <th scope="col">ФИО</th>
        </tr>
        </thead>
        <tbody>
        @foreach (EmployeeViewModel employee in Model)
        {
            <tr>
                <th scope="row">@employee.Id</th>
                <td>
                    <a href="@(Url.Action<EmployeeController>(c => c.View(employee.Id)))">@employee.Fio</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}