<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.css"/>
        <link rel="stylesheet" href="~/css/Site.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" href="~/css/Site.css">
    </environment>

    <title>@($"{ViewBag.Title} - Регистратор сотрудников")</title>

</head>
<body>

@await Component.InvokeAsync("Navbar")

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2018 - Регистратор сотрудников</p>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/jQuery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/select2/dist/js/select2.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.js"></script>
    <script> moment.locale('ru'); </script>
    <script src="~/lib/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script>moment.locale('ru');</script>
    <script src="~/lib/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
</environment>

@RenderSection("Scripts", false)

</body>
</html>