@using Domain.Entities
@model IEnumerable<EmployeeRegistrationViewModel>

<p></p>

@if (Model?.Any() != true)
{
    <span>Список регистраций пуст.</span>
}
else
{
     foreach (IGrouping<int, EmployeeRegistrationViewModel> registrationGroup in Model.GroupBy(x => x.EmployeeId))
     {
         <p></p>

         <table class="table table-bordered">
             <thead>
             <tr>
                 <th scope="col" style="width: 80px">EmployeeId</th>
                 <th scope="col">Дата и время</th>
                 <th scope="col">Событие</th>
             </tr>
             </thead>
             <tbody>


             @foreach (EmployeeRegistrationViewModel registration in registrationGroup.OrderBy(x => x.DateTime))
             {
             <tr>
                 <th scope="row">@registration.EmployeeId</th>
                 <td>@registration.DateTime.ToLongDateString() @registration.DateTime.ToLongTimeString()</td>
                 <td>@(registration.EventType == RegistrationEventType.Coming ? "Приход" : "Уход")</td>
             </tr>
             }


             </tbody>
         </table>
     }
}